<template>
    <a-layout style="min-height: 100vh">
        <page-header></page-header>
        <a-layout>
            <a-layout-sider breakpoint="md" collapsed-width="0" theme="light"
                            :style="{'border-right-width': '1px','border-right-style': 'solid', 'border-right-color': 'lightgray'}">
                <a-layout style="min-height: 100%">
                    <a-layout-content style="padding: 5px">
                        <a-space direction="vertical" :style="{width: '100%'}">
                            <a-button v-for="(c, i) in conversationList"
                                      :type="c.contextId === conversationId ? 'primary' : ''"
                                      block
                                      @click="switchConversation(c.contextId)">
                                <div :style="{'overflow': 'hidden', 'text-overflow': 'ellipsis'}">
                                    {{c.contextTitle || "New conversation"}}
                                </div>
                            </a-button>
                        </a-space>
                    </a-layout-content>
                    <a-layout-footer :style="{padding: '10px'}">
                        <a-space direction="vertical" :style="{width: '100%'}">
                            <a-button type="primary" block ghost @click="newChat">New chat</a-button>
                            <a-button type="primary" block ghost danger>Clear all</a-button>
                            <a-space>
                                <a-switch v-model:checked="showMarkdown" checked-children="M" un-checked-children="H"></a-switch>
                                <a-switch v-model:checked="useStream" checked-children="S" un-checked-children="N"></a-switch>
                            </a-space>
                        </a-space>
                    </a-layout-footer>
                </a-layout>
            </a-layout-sider>
            <a-layout>
                <a-layout-content id="chat-layout" ref="chat-layout" :style="{overflow: 'auto', padding: '10px', height: 'calc(100vh - 170px)'}">
                    <div ref="chat-content" :hidden="showMarkdown">
                        <div v-for="message in messages">
                            <div v-if="message.isAnswer" class="speaker">
                                <a-avatar style="color: #f56a00; background-color: #fde3cf">
                                    GPT
                                </a-avatar>
                                ({{ message.time || now() }})
                            </div>
                            <div v-else  class="speaker">
                                <a-avatar style="background-color: #87d068">
                                    Me
                                </a-avatar>
                                ({{ message.time || now() }})
                            </div>
<!--                                <div class="speaker">{{message.isAnswer ? 'ChatGPT:' : 'Me:'}}&nbsp;({{now()}})</div>-->
                            <div v-if="message.isAnswer" style="padding-left: 40px" v-html="parseHtml(message.content)">
                            </div>
                            <div v-else  style="padding-left: 40px">{{message.content}}</div>
                            <br/>
                        </div>
                        <div v-if="!useStream && working">
                            <a-spin />
                        </div>
                    </div>
                    <div :hidden="!showMarkdown" style="height: 100%">
                        <textarea style="height: 100%; width: 100%">{{mdContent}}</textarea>
                    </div>
                </a-layout-content>
                <a-layout-footer :style="{padding: '10px'}">
                    <a-input-group compact>
                        <a-textarea v-model:value="question" :placeholder="questionPlaceholder" style="width: calc(100% - 140px); height: 60px" :disabled="working"></a-textarea>
                        <a-button type="primary" style="height: 60px" :disabled="!canSend" @click="send">Send</a-button>
                        <a-popconfirm
                                title="Delete this conversation ?"
                                ok-text="Yes"
                                cancel-text="No"
                                @confirm="deleteConversation"
                                :disabled="conversationId === ''"
                        >
                            <a-button type="primary" ghost style="height: 60px" :disabled="working">Delete</a-button>
                        </a-popconfirm>
                    </a-input-group>
                </a-layout-footer>
            </a-layout>
        </a-layout>
    </a-layout>
</template>
<script type="module">
import { post, get } from "/app/request.js"
import { marked } from "/md/marked.esm.js"
const { loadModule } = window["vue3-sfc-loader"]
import options from "/app/vue-sfc-loader-options.js"
const prompt = "[[${@appConfig.defaultPrompt}]]"
export default {
    name: "Chat",
    components: {
        'page-header': Vue.defineAsyncComponent(() => loadModule('/header.vue', options))
    },
    data() {
        return {
            question: "",
            conversationId: "",
            messages: [],
            totalTokens: 0,
            conversationList: [],
            working: false,
            showMarkdown: false,
            useStream: true,
            imgWater: null
        }
    },
    computed: {
        canSend() {
            const { conversationId, question, working } = this
            return question.trim().length > 0 && !working && conversationId
        },
        questionPlaceholder() {
            return this.conversationId ? "Let's talk about ..." : "Click [New chat] or select existing conversation !"
        },
        mdContent() {
            const { messages } = this
            let md = "# ChatGPT"
            if (messages) {
                messages.forEach(m => {
                    md += "\n\n" + (!m.isAnswer ? "## " : "") + m.content
                })
            }
            return md
        }
    },
    updated() {
        // this.flushContent()
    },
    mounted() {
        if (!sessionStorage.sessionId && !localStorage.token) {
            this.$router.push("/login")
        } else {
            new MutationObserver(() => {
                this.flushContent()
            }).observe(this.$refs["chat-content"], {
                childList: true
            })
            this.listConversation()
        }
    },
    methods: {
        listConversation() {
            get("/context/list")
                .then(data => this.conversationList = data)
                .catch(err => console.log("get context list failed, %s", err))
        },
        flushContent() {
            hljs.highlightAll()
            let layout = document.getElementById("chat-layout")
            let content = this.$refs["chat-content"]
            if (layout && content) {
                let targetY = content.children.length > 0 ?
                    content.offsetHeight - content.children[content.children.length - 1].offsetHeight : 0
                if (layout.offsetHeight < content.offsetHeight) {
                    layout.scrollTo({ top: targetY, behavior: 'smooth' });
                }
            }
        },
        parseHtml(src) {
            return marked.parse(src)
        },
        newChat() {
            const { clear } = this
            clear()
            const { message } = antd
            post("/context/create", {
                question: prompt
            }).then(data => {
                this.conversationList.push(data)
                this.conversationId = data.contextId
                message.success("OK! Let's start talking")
            }).catch(err => alert(err))
        },
        send() {
            const { question, conversationId, useStream, ask, askWithSse } = this
            if (question && conversationId) {
                if (useStream) {
                    askWithSse(question, conversationId)
                } else {
                    ask(question, conversationId)
                }
            }
        },
        updateConversationTitle(conversationId) {
            const { getConversation } = this
            let conversation = getConversation(conversationId)
            if (conversation && !conversation.contextTitle) {
                get("/chat/getTitle/" + conversationId)
                    .then(data => conversation.contextTitle = data.answer)
                    .catch(err => alert(err))
            }
        },
        getConversation(conversationId) {
            const { conversationList } = this
            return conversationList.find(c => c.contextId === conversationId)
        },
        clear() {
            this.conversationId = ""
            this.messages = []
            this.question = ""
            this.totalTokens = 0
        },
        ask(content, conversationId) {
            this.useLoadingState = true
            if (content && conversationId) {
                // push question
                this.messages.push({
                    isAnswer: false,
                    content
                })
                this.working = true
                post("/chat/ask", {
                    question: content,
                    conversationId: conversationId
                }).then(res => {
                    this.messages.push({
                        isAnswer: true,
                        content: res.answer
                    })
                    this.totalTokens = res.totalTokens
                    this.question = ""
                    this.updateConversationTitle(conversationId)
                }).catch((err) => {
                    // TODO show error
                    alert(err)
                }).finally(() => {
                    this.working = false
                })
            }
        },
        askWithSse(content, conversationId){
            this.useLoadingState = false
            if (content && conversationId) {
                this.messages.push({
                    isAnswer: false,
                    content
                })
                this.working = true
                let index = this.messages.length
                this.messages.push({
                    isAnswer: true,
                    content: ""
                })
                const evtSource = new EventSource(
                    encodeURI(
                        "/chat/sseAsk/" + conversationId + "/" + content
                    ),
                    {
                        withCredentials: true
                    }
                )
                evtSource.onmessage = evt => {
                    const { data } = evt
                    if (data === "[DONE]") {
                        this.flushContent()
                        this.working = false
                        this.question = ""
                        evtSource.close()
                        this.updateConversationTitle(conversationId)
                    } else {
                        let res = JSON.parse(data)
                        this.messages[index].content += res.answer || ""
                    }
                }
                evtSource.onerror = evt => {
                    this.working = false
                    alert("error: " + JSON.stringify(evt))
                    if (evtSource.readyState === EventSource.CLOSED) {
                        console.log("close")
                    } else {
                        evtSource.close()
                    }
                }
            }
        },
        switchConversation(id) {
            const { clear, now } = this
            get("/context/get/" + id).then(data => {
                clear()
                this.conversationId = id
                data.messages.map(m => {
                    if (m.role !== "system") {
                        this.messages.push({
                            isAnswer: m.role === "assistant",
                            content: m.content,
                            time: now(new Date(m.createTime))
                        })
                    }
                })
                this.totalTokens = data.totalTokens
                this.working = false
            }).catch(err => {
                alert(err)
            })
        },
        deleteConversation() {
            const { conversationId, clear } = this
            const { message } = antd
            if (conversationId) {
                get("/context/delete/" + conversationId).then(() => {
                    clear()
                    this.conversationList = this.conversationList.filter(v => v.contextId !== conversationId)
                }).catch(err => {
                    alert(err)
                })
            }
        },
        prefixTime(value) {
            return value < 10 ? "0" + value : value + ""
        },
        now(date) {
            const { prefixTime } = this
            const now = date || new Date()
            return `${now.getFullYear()}-${prefixTime(now.getMonth() + 1)}-${prefixTime(now.getDate())} ${prefixTime(now.getHours())}:${prefixTime(now.getMinutes())}`
        }
    }
}
</script>
