<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <base th:if="${@appConfig.serverUrl != ''}" th:href="${@appConfig.serverUrl}">
    <title>[[${@appConfig.title}]]</title>
    <link rel="stylesheet" href="/app/chat.css">
    <link rel="stylesheet" href="/highlight/default.min.css">
    <link rel="stylesheet" href="/highlight/idea.min.css">
    <link rel="stylesheet" href="/antd/antd.min.css">
    <script src="/vue/vue.global.js"></script>
    <script src="/vue/vue-router.global.js"></script>
    <script src="/vue/vue3-sfc-loader.js"></script>
    <script src="/highlight/highlight.min.js"></script>
    <script src="/dayjs/dayjs.min.js"></script>
    <script src="/dayjs/plugin/customParseFormat.js"></script>
    <script src="/dayjs/plugin/weekday.js"></script>
    <script src="/dayjs/plugin/localeData.js"></script>
    <script src="/dayjs/plugin/weekOfYear.js"></script>
    <script src="/dayjs/plugin/weekYear.js"></script>
    <script src="/dayjs/plugin/advancedFormat.js"></script>
    <script src="/antd/antd.min.js"></script>
</head>
<body>
<div id="app" style="min-height: 100%; margin: 0px; padding: 0px; background-color: #f0f2f5">
    <router-view></router-view>
</div>
<script type="module">
const { createApp } = Vue
const { loadModule } = window["vue3-sfc-loader"]
import options from "/app/vue-sfc-loader-options.js"
const app = createApp({
    mounted() {
        this.$router.push("/login")
    }
})
const routes = [
    { path: "/login", name: "login", component: Vue.defineAsyncComponent(() => loadModule("/login.vue", options)) },
    { path: "/chat", name: "chat", component: Vue.defineAsyncComponent(() => loadModule("/chat.vue", options))}
]
const router = VueRouter.createRouter({
    history: VueRouter.createWebHashHistory(),
    routes
})
app.use(antd)
app.use(router)
app.mount('#app')
</script>
</body>
</html>